<div class="container">
  <div class="row">
    <div class="col">
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container content">
        <h2>Create Person</h2>
      </div>
      
      <div class="container">
        <form novalidate>
          <input 
            type="text" 
            class="form-control" 
            placeholder="Nombre" 
            name="name" 
            [(ngModel)]="name"
            required
          >
          <input 
            type="text" 
            class="form-control mt-2" 
            placeholder="Apellidos" 
            name="lastname" 
            [(ngModel)]="lastname"
          >
          <input 
            type="email" 
            class="form-control mt-2" 
            placeholder="Email" 
            name="email" 
            [(ngModel)]="email"
          >
          <input 
            type="password" 
            class="form-control mt-2" 
            placeholder="Password" 
            name="password" 
            [(ngModel)]="password"
          >
          <div class="d-flex justify-content-center align-items-center">
            <button 
              class="btn btn-success mt-3 w-50" 
              (click)="savePerson()"
            > Guardar 
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Alerta Ingreso Correcto -->
<div class="d-flex justify-content-center align-items-center">
  <div class="alert alert-success d-none fixed-bottom align-items-center" id="alertCorrect" role="alert">
    {{msgAlert}}
  </div>
</div>
 